lightning-demo/
data/
__pycache__
notebooks/.ipynb_checkpoints
notebooks/.DS_Store
train-demo/
exploring.qgz
src/.DS_Store
UNITAC-trained-models/
deeplnafrica/deeplnafrica_trained_models/
src/models/wandb/
*.ckpt
vectorised_model_predictions/
predictions.qgz