lightning-demo/
data/
__pycache__
notebooks/.ipynb_checkpoints
notebooks/.DS_Store
train-demo/
exploring.qgz
src/.DS_Store
UNITAC-trained-models/
deeplnafrica/deeplnafrica_trained_models/
src/models/wandb/
*.ckpt
vectorised_model_predictions/
predictions.qgz
src/wandb/
.DS_Store
src/models/3res_model.py
ananlysis/wandb/*
ananlysis/metrics/
docker/
src/Interactive-1.ipynb
src/make_pred_pixelbased.py
src/models/pixel-based-model.py
rastervision/
src/features/make_data.py
src/models/poi.py
src/clay/*
configs/*
deeplnafrica/*
notebooks/1.0-jm-initial-data-exploration.ipynb
notebooks/2.0-jm-custom-rasterisation.ipynb
notebooks/rastervision.ipynb
src/cache/*
src/evaluate_models.py
src/make_predictions_buildings_only_model.py
src/models/lightning_logs/*
src/models/model_predictions
src/models/Interactive-1.ipynb
src/models/buildings_only.py
src/models/geemap_pixel_based.ipynb
analysis/metrics/*
analysis/wandb/*
analysis/building_source.py