lightning-demo/
data/
__pycache__
notebooks/.ipynb_checkpoints
notebooks/.DS_Store
train-demo/
exploring.qgz
src/.DS_Store
UNITAC-trained-models/
deeplnafrica/deeplnafrica_trained_models/
src/models/wandb/
*.ckpt
vectorised_model_predictions/
predictions.qgz
src/wandb/
.DS_Store
src/models/3res_model.py
ananlysis/wandb/
ananlysis/metrics/
Dockerfile
docker/
src/Interactive-1.ipynb
src/make_pred_pixelbased.py